body {
    background-image: linear-gradient(rgb(237, 240, 240), rgb(95, 56, 187));
}

#professionalPic {
    display: flex;
    justify-content: center;
}

#professionalPic img {
    border-radius: 40%;
    border: solid 3px grey;
    margin: 1% 0 -5% 0;
}

h1[data-describe]:hover:after {
    cursor: grab;
    content: attr(data-describe);
    position: absolute;
    border: 1px green solid;
    background-color: rgb(216, 216, 3);
    margin-top: -25px;
    margin-left: -5px;
    font-size: medium;
}

/* hover effect */
#professionalPic img:hover {
    width: 50%;
    border: solid 5px yellow;
    box-shadow: 15px 15px grey;
}

#AboutMe,
footer {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
}

/* about me section */
p {
    display: flex;
    text-align: justify;
    margin: 5%;
    font-size: large;
    background-color: rgba(161, 153, 179, 0.42);
    align-self: center;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

h1 {
    color: rgb(56, 160, 160);
    font-size: 250%;
}

h2 {
    display: flex;
    text-orientation: upright;
    writing-mode: vertical-rl;
    background: -webkit-linear-gradient(rgb(56, 160, 160), rgb(1, 29, 29));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5%;
    font-size: 4vh;
}

#PreviousWork {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-right: 5%;
}

/* nav bar */
nav ul li {
    display: flex;
    list-style-type: none;
    float: left;
    margin: 10px;
    font-weight: bold;
    border: solid 1px grey;
    border-radius: 10%;
    padding: 5px;
    background-color: rgb(165, 164, 177);
    ;
}

/* pic properties */
#horiseon,
#Warriors {
    width: 100%;
    height: auto;
    border-radius: 7%;
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    font-style: normal;
}

/* removes underline */
a {
    text-decoration: none;
}

/* hover effect */
nav ul li:hover {
    width: 20%;
    height: auto;
    background-color: yellow;
    margin: 0%;
    box-shadow: 5px 5px grey;
}

footer,
footer ul li a {
    color: white;
    text-decoration: none;
}